<div class="about" style="padding-top: 50px;">
    <h3>Obrigado por acessar esta página, por meio deste vou falar um pouco sobre o meu objetivo.</h3>
    <br/>
    <h4>Me chamo Victor Figueiredo, tenho 24 anos, e sou apaixonado por esta área desde os meus 14 anos, porém com as circustancias da vida, eu não tive oportunidade de estudar, mas me reencontrei nesta área a qual venho me dedicando mais e mais,
        me vejo entusiasmado em aprender, em dominar ferramentas e linguagens.
        Atualmente trabalho como Barman em um restaurante, no qual trabalho de domingo a domingo, das 12h até ás 22h20, toma bastante meu tempo, mas estou me estudando duro para capacitar e conseguir uma vaga na minha área, para sobrar mais tempo para estudar, inclusive começar a minha primeira faculdade de Análise e Desenvolvimento de sistemas.<br/>
        Serei papai, meu bebê é uma grande é mais um motivo para está aqui, poder um dia dá um plano de saúde, e um conforto maior para ele e a minha esposa.
        Estou convicto do meu amor pela área, e um dia pretendo usar a minha história e superação para motivar pessoas a investirem no futuro delas também.
</h4>
</div>