<div class="about" style="padding-top: 50px;">
<h2>Ganhe mais produtividade e organização no seu dia a dia!</h2>
<br/>
<h4>Esta é uma ferramenta de organização.<br/>
    Ela serve pra registrar o planejamento do dia, da semana, do mês, do semestre e do ano!<br/>
    Você também pode fazer listas de tarefas pra não se esquecer de nenhuma, como compras, casa, trabalho, eventos, viagens e outros.<br/>
    Outra utilidade do planner é traçar objetivos e metas, acompanhando cada etapa e vendo o quanto você avançou. <br/>
    Se deseja ter um novo hábito, como se exercitar todos os dias, pode ir se organizando e colocando tudo no planner!<br/>
    Você também pode registrar suas finanças, viu? Dá pra anotar os gastos, e saber, por exemplo, se você vai terminar o mês no azul ou no vermelho. Aí sim</h4>
    <br/>
</div>
<div class="dev">
    <a class="nav-link" href="http://www.linkedin.com/in/vcfo">Contate o desenvolvedor</a>
</div>